<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="text-center mb-4 text-light">
                Sistema de genrenciamento de Tarefas
            </h1>
            <p class="lead text-center text-light">
                Bem-vindo ao Sistema de Genrenciamento de Tarefas!
                Este sistema foi projetado pra ajuda-lo a organizar suas tarefas de forma eficiente e facil.
            </p>
            <p class="text-center text-light">
                Com esse sisetma você pode:
            </p>
            <ul class="list-group text-center">
                <li class="list-group-item">
                    Adicionar novas Tarefas
                </li>
                <li class="list-group-item">
                    visualizar tarefas existentes
                </li>
                <li class="list-group-item">
                    Atualizar tarefas ( em andamento, concluidas, etc...)
                </li>
                <li class="list-group-item">
                    Excluir tarefas que já foram concluidas ou não são mais necessarias
                </li>
            </ul>
            <p class="text-center text-light mt-4">
                Comece agora mesmo a organizar suas tarefas de forma eficiente!!
            </p>
        </div>
    </div>
</div>