<div class="container mt-5 first-square">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="text-center mb-4 text-light mt-5">
                Sistema de Gerenciamento de Tarefas
                <i class="ml-2 fas fa-tasks"></i>
            </h1>
            <p class="lead text-center text-light mt-5">
                Bem-vindo ao Sistema de Genrenciamento de Tarefas!<br>
                Este sistema foi projetado pra ajuda-lo a organizar suas tarefas de forma eficiente e facil.
            </p>
            <p class="lead text-center text-light display-4">
                <i class="fas fa-arrow-down"></i>
            </p>
            <p class="text-start text-light mt-2">
                Com esse sistema você pode:
            </p>
            <ul class="list-group text-center mt-3">
                <li class="list-group-item">
                    <i class="fa-solid fa-plus"></i>
                    Adicionar novas Tarefas
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-eye"></i>
                    visualizar tarefas existentes
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-pen"></i>
                    Atualizar tarefas ( em andamento, concluidas, etc...)
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-xmark"></i>
                    Excluir tarefas que já foram concluidas ou não são mais necessarias
                </li>
            </ul>
            <p class="text-center text-light mt-5 pb-3">
                Comece agora mesmo a organizar suas tarefas de forma eficiente!!
            </p>
        </div>
    </div>
</div>